<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}js/slick.min.js"></script>
    <script type="text/javascript">   
		$(document).ready(function() {
		    $('.single-item').slick({
		        dots: false,
		        infinite: true,
		        speed: 500,
		        slidesToShow: 1,
		        slidesToScroll: 1,
            lazyLoad: 'ondemand',
            arrows: true,
            adaptiveHeight: true
		    });
		});
    </script>
  </body>
</html>
