<!DOCTYPE html>
<html lang="en-us">

  <div class="header">
    <header>{{ page.title }}</header>
    <h6 align="right">A folk and blues band located in Youngstown, OH 
        <br>e: <a href="mailto:plentynicemusic@gmail.com" target="_top">plentynicemusic@gmail.com</a>
    <h6>
  </div> 


  {% include head.html %}

  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <body class="page" style="background-image: url('{{ site.baseurl }}/img/mountain.jpg'); background-size: 1413.75px 1536px;">
    <div class="content article">
      <dt></dt>
      {{ content }}
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript">

		$(document).ready(function() {
		    $('.single-item').slick({
		        dots: false,
		        infinite: true,
		        speed: 500,
		        slidesToShow: 1,
		        slidesToScroll: 1,
            lazyLoad: 'ondemand',
            arrows: true,
            adaptiveHeight: true
		    });
		});
    </script>
  </body>
</html>
